option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app

container_commands:
  01_setup_static:
    command: "mkdir -p /var/www/html/static && cp -R static/. /var/www/html/static/"
  02_setup_templates:
    command: "mkdir -p /var/www/html/templates && cp -R templates/. /var/www/html/templates/"